# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.docker

# Tests / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Celery
celerybeat-schedule
celerybeat-schedule.*
